@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
head
{
    font-family: 'Noto Sans KR', sans-serif;
}
body
{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.25em;
}
footer
{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.25em;
}

p{line-height: 1.1em;}
h1{line-height: 1.1em;}
h2{line-height: 1.1em;}
h3{line-height: 1.1em;}
h4{line-height: 1.1em;}
h5{line-height: 1.1em;}
h6{line-height: 1.1em;}